.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 30%;
  background: url(../img/rockybeach.jpg) center / cover no-repeat #f3753b;
  height: 150px;
  align-content: center;
  background-size: cover;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Advent Pro', sans-serif;
  padding: 0px;
 }
.logo {
  align-content: left;
  flex-grow: 3;
  font-size: 6rem;
}
.menu-item {
	color: rgb(255, 255, 255);
  font-size: 2rem;
}
h1 {
  margin: 5px;
  font-family: 'Advent Pro', sans-serif;
  font-size: 36px;
  text-align: center;
  max-width: 300px;
  }

p { 
  padding: 1%;
  line-height: 1.25;
  border-style: solid;
  border-radius: 20px;
  font-family: Helvetica;
  text-align: center;
  max-width: 300px;
  width: 70%;
}


@media screen and (min-width: 769px) {
  p {
    max-width: 769px;
  }
  .menu {
    flex-direction: row;
    }
  h1 {
    max-width: 500px;
  }
  p {
    max-width: 500px;
  }
  .logo {
    font-size: 10rem;
    flex-grow: 3;
  }
  .menu-item {
    font-size: 3rem;
  }
}