
header {
  padding: 70%;
  margin: -3rem -1rem 0rem;
  background: url(../img/rockybeach.jpg) center / cover no-repeat #f3753b;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Advent Pro', sans-serif;
  font-size: 6rem;
  padding: 0px;
  align-content: center;
  background-size: cover;
}
h1 {
  margin: 0px;
  font-family: 'Advent Pro', sans-serif;
  font-size: 36px;
  text-align: center;
  max-width: 300px;
  }
  
p {
  padding: 1%;
  line-height: 1.25;
  border-style: solid;
  border-radius: 20px;
  font-family: Helvetica;
  text-align: center;
  max-width: 300px;
  width: 70%;
}

@media screen and (min-width: 760px) {
  p {
    max-width: 500px;
  }
  h1 {
    max-width: 500px;
  }
  header {
    font-size: 10rem;
  }
}